@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to bottom, #c5b7f1, #d2b3e9);
  backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); /* Safari support */
}
 